### Sorting single columns
- Get the names of people from the people table, sorted alphabetically.
```
SELECT name
FROM people
ORDER BY name;
```
- Get the names of people, sorted by birth date.
```
SELECT name
FROM people
ORDER BY birthdate;
```
- Get the birth date and name for every person, in order of when they were born.
```
SELECT name,birthdate
FROM people
ORDER BY birthdate;
```
- Get the title of films released in 2000 or 2012, in the order they were released.
```
SELECT title
FROM films
WHERE release_year IN (2000, 2012)
ORDER BY release_year;
```
- Get all details for all films except those released in 2015 and order them by duration.
```
SELECT *
FROM films
WHERE release_year <> 2015
ORDER BY duration;
```
- Get the title and gross earnings for movies which begin with the letter 'M' and order the results alphabetically.
```
SELECT title, gross
FROM films
WHERE title LIKE 'M%'
ORDER BY title;
```

To order results in descending order, you can put the keyword DESC after your ORDER BY. For example, to get all the names in the people table, in reverse alphabetical order:
```
SELECT name
FROM people
ORDER BY name DESC;
```

#### Sorting multiple columns
ORDER BY can also be used to sort on multiple columns. It will sort by the first column specified, then sort by the next, then the next, and so on. For example,
```
SELECT birthdate, name
FROM people
ORDER BY birthdate, name;
```
sorts on birth dates first (oldest to newest) and then sorts on the names in alphabetical order. The order of columns is important!

Try using ORDER BY to sort multiple columns! Remember, to specify multiple columns you separate the column names with a comma.

- Get the birth date and name of people in the people table, in order of when they were born and alphabetically by name.
```
SELECT birthdate,name
FROM people
ORDER BY birthdate,name;
```
- Get the release year, duration, and title of films ordered by their release year and duration.
```
SELECT release_year, duration, title
FROM films
ORDER BY release_year, duration;
```
- Get certifications, release years, and titles of films ordered by certification (alphabetically) and release year.
```
SELECT certification, release_year, title
FROM films
ORDER BY certification, release_year;
```

#### GROUP BY
Now you know how to sort results! Often you'll need to aggregate results. For example, you might want to count the number of male and female employees in your company. Here, what you want is to group all the males together and count them, and group all the females together and count them. In SQL, GROUP BY allows you to group a result by one or more columns, like so:
```
SELECT sex, count(*)
FROM employees
GROUP BY sex;
```
This might give, for example:
```
sex	count
male	15
female	19
```
Commonly, GROUP BY is used with aggregate functions like COUNT() or MAX(). Note that GROUP BY always goes after the FROM clause!

- Get the release year and count of films released in each year.
```
SELECT release_year, COUNT(*)
FROM films
GROUP BY release_year;
```
- Get the release year and average duration of all films, grouped by release year.
```
SELECT release_year, AVG(duration)
FROM films
GROUP BY release_year;
```
- Get the release year and largest budget for all films, grouped by release year.
```
SELECT release_year, MAX(budget)
FROM films
GROUP BY release_year;
```
- Get the IMDB score and count of film reviews grouped by IMDB score in the reviews table.
```
SELECT imdb_score, COUNT(*)
FROM reviews
GROUP BY imdb_score;
```